body{ 
    background-color: cornflowerblue;
}


h1{ 
    background-color: mintcream; 
    text-align: center;
    padding: 20px;
    float: center;
    border: 5px;
border-style: solid;
border-color: skyblue;
}


h4{ 
    background-color: skyblue; 
    text-align: center;
    padding: 10px;
    float: center;
    border: 1px;
border-style: solid;
border-color: mintcream;
}


#Month-Day{
    background-color:rgba(190, 236, 236, 0.71); 
    text-align: center;
    padding: 10px;
    float: center;
    border: 1px;
border-style: solid;
border-color: mintcream;
}


.chance-of-rain{
    background-color: skyblue; 
    text-align: center;
    padding: 10px;
    float: center;
    border: 1px;
border-style: solid;
border-color: mintcream; 
}

.changes{
    background-color: mintcream; 
    text-align: center;
    padding: 10px;
    float: center;
    border: 5px;
border-style: solid;
border-color: skyblue;
}

.since{
    background-color:rgba(190, 236, 236, 0.71); 
text-align: center;
padding: 10px;
float: center;
border: 1px;
border-style: solid;
border-color: mintcream;
}